
        /* Basic styling for the sidebar and content */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        #sidebar {
            height: 100%;
            width: auto;
            position: fixed;
            top: 0;
            left: -250px;
            background-color: #333;
            transition: left 0.5s;
        }

        #content {
            margin-left: 0;
            padding: 10px;
            transition: margin-left 0.5s;
        }

        /* Styling for the sidebar links */
        #sidebar ul {
            list-style-type: none;
            padding: 0;
        }

        #sidebar ul li {
            padding: 10px;
            text-align: start;
        }

        #sidebar ul li a {
            color: #ececec;
            text-decoration: none;
            display: block;
        }
        #sidebar ul li:hover{
            
            background-color: #857a7a;
        }
        
        
        /* Button to toggle the sidebar */
        #menu-toggle {
            background-color: #1156af;
            color: #fff;
            border-radius: 7px;
            border-color: rgb(26, 69, 134);
            cursor: pointer;
            padding: 10px 20px;
            position: relative;
            top: 1px;
            left: 1px;
            transition: margin-left 0.5s;
        }
        #menu-toggle content.open {
            margin-left: 260px;
        }
        #h1a{
            text-align: center;
        }
        
        
